html{
	scroll-behaviour: smooth;
	font-size: 100% !important;
	}
:root{
	--light: #f3f6fd;
	--blue: #0e62dc;
	--peach: #f9be93;
	--grey: #0B0E1F;
	}
.neu{
	border-radius: 38px;

	box-shadow:  13px 13px 27px #9b9b9b,
             -13px -13px 27px #ffffff;}
.neuhem{
	border-radius: 41px;
	background: #ffffff;
	box-shadow:  10px 10px 20px #d9d9d9,
             -10px -10px 20px #ffffff;
}
.neublue{
border-radius: 32px;
box-shadow:  14px 14px 28px #070d25,
             -14px -14px 28px #172979;}
/*Navbar---------------------------------------*/
*{
	margin: 0;
	padding: 0;
	}
body{
	background-color: var(--light);
	font-family: 'Roboto', 'Sans-serif';
	color: black;
	}

a{
  text-decoration: none;
  color:#000;
}
.active{
color:#679b9b;
}
a:hover{
  color:#679b9b;
}
h1{
  font-family: 'Viktorie';
  font-size: 42px;
}
header{
  padding:0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--light);
}

body::-webkit-scrollbar-thumb {
    background: var(--light);
}


/* Start of Header Styling*/
.header {
  background-color: var(--light);
  position: absolute;
  top: 1vh;
  width: 100%;
  height:70px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow:auto;
  background-color: var(--light);
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
}
.menu-btn{
	display: none;
	}
.header .logo {
  display: block;
  float: left;
  padding: 5px 30px;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0px;
  font-size: 22px;
  /* top:30px; */
  margin-top: 10px;
  transition: max-height .5s ease-out;
  font-family: 'Space Grotesk';
  color: var(--grey);
}
.header .menu li button{
  background-color: transparent;
  border:none;
  font-size: 22px;
  font-family: 'Space Grotesk';
  margin-right: 10px;
  margin-top: 0;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 42px 30px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: var(--light);
  display: block;
  height: 2px;
  position: relative;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
}

.header .menu-icon .navicon:after {
  top: -5px;
}#333333

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
  background-image: linear-gradient(var(--light),#9de1fc);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 70em) {
  .header h1{
    font-size: 50px;
  }
  .header li {
    float: left;
    color: var(--grey);
  }
  .header li a {
	color: var(--grey);
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu li button{
    background-color: transparent;
  }
}

/*Navbar Ends here----Navbar Ends here-----Navbar Ends here---Navbar Ends here*/

/*Logo*/
#page1{
	height: 100vh;
	width: 100vw;
	background-color: var(--light);
	overflow: hidden;
	}

#name1{
	position: absolute;
	z-index: 5;
	top: 2vh;
	padding: 0vh 4vw;
	font-family: 'Roboto';
	color: #33405C;
	font-weight: 900;
	font-size: 1.2rem;
	}
#name1-1{
	display: none;}
#name2{
	color: #1F2331;
	position: absolute;
	top: 63vh;
	padding: 0 0 3vh 4vw;
	font-weight: 500;
	font-size: 1.5rem !important;
	}	

#doctor-foto{
	position: relative;
	width: 90vw;
	top: 11vh;
	left: 39vw;
	}
#doctor-foto1{
	width:100%;
	}
#booking-botton{
	position: absolute;
	top: 90vh;
	left: 5vw;
	}
#booking-botton1{
	background-color: var(--blue);
	color: white;
	padding: 1vw 3vw;
	font-weight: 500;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	}
/*page 2 2 2 2 2 2 2 2 2  2 2 2 2 2  2 2 2 2 2  2 2 2 2 2  22*/
 
#page2{
 }
 
#speciality{
	font-size: 1.6rem !important;
	font-weight: 900 !important;
	text-decoration: underline;
	margin: 5vh 4vw 3vh;
	color: var(--blue);
	} 
#speciality-list{
	margin: 4vh auto;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 4vw;
	} 
.splist{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 1.4rem;
	font-weight: 450;
	color: var(--grey);
	}
.biamri{
	max-height: 30vh;
	overflow: scroll;
	padding: 2vh 2vw !important;
	margin: 2vh 2vw !important;
	border-radius: 2rem;
	}
.biamri p {
	font-size: 1rem !important;
	padding: 3vw;
	}
	
#otherdis{
	padding: 5vw;
	margin: 3vw 7vw;
	font-size: 1.2rem;
	font-weight: 450;
	color: var(--grey);
	text-align: center;
	}	
strong{
	color: var(--blue);}
#otherdis1{
	padding: 4vw;
	}
#otherdis1 a {
	color: var(--blue);
	}	
#otherdis1-1{
	font-size: 0.7rem;}
#otherdis2{
	padding: 5vw;
	margin: 7vh 8vw;
	font-size: 1.2rem;
	font-weight: 450;
	color: var(--grey);
	text-align: center;
	}	
.otherdis2-1{
	margin-top: 4vh;
}	
	
	
#speciality-foto{
	display: flex;
	justify-content: flex-end;
	width: 60vw;}
#speciality2{
	font-size: 1,4rem;
	color: var(--blue);
	font-weight: 500;
	margin: 8vh 0 2vw 4vw;
	} 


/* {box-sizing: border-box;} */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 8vh auto 0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease !important;
}

.active {
  background-color: var(--light);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade !important;
  -webkit-animation-duration: 2.9s !important;
  animation-name: fade !important;
  animation-duration: 2.9s !important;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
 
 
/*paje 3 3 3 3 3 3  3 3 3 3  3 3 3 3 3 3 3 3  3 3 3 3 3  3 3 3 3 3 3 3 3 */ 
 
 
#page3{
	background-color: var(--light);
	}
#page3-1 {
	text-align: center;
	font-size: 2rem;
	font-weight: 900;
	text-decoration: underline;}
#doctors{
	padding: 4vw;}
 
.basis-member.staff {
    padding: 4rem 2rem;
    font-family: 'Raleway', sans-serif;
}

.basis-member.staff .member-box {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.basis-member.staff .member-box .card-body {
    position: relative;
    height: 150px;
    padding: 3vw;
}
.basis-member.staff .member-box .shape {
    width: 200px;
    height: 200px;
    background: var(--primary);
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: -100px;
    transform: rotate(45deg);
}

.basis-member.staff .member-box .card-img-top {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom: 5px solid var(--primary);
}

.basis-member.staff .member-box .member-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.025em;
}
/*facility page --------------------------------facility---------*/
/* facility CSS Code Start */
#facility{
	background: var(--blue);
	padding: 5rem 0;
	}
#facility1{
	color: var(--light);
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	}
#facility2{
	margin: 2vw auto 0;
	padding: 5vw 3vw;
	}
#facility2-1{
	padding: 0vh auto 0;
	background: var(--light);
	color: var(--dark);
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	}	

/*Review page --------------------------------review page---------*/
/* Testimonial CSS Code Start */
/* background */
.carousel-bg {
  background-color: var(--light);
  margin-top: 40px;
  margin-bottom: 40px;
}
/* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
}
/* text-style */
.testimonial-style .testimonial-caption-style {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2rem !important;
  color: #354052;
  line-height: 30px;
  bottom: 40%;
  text-shadow: none;
  top: 10%;
}
.testimonial-style .testimonial-authors {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  color: #354052;
  line-height: 30px;
  margin-top: 40px;
}
/* carousel-height-control */
.testimonial-style .carousel-inner > .item {
  padding-top: auto;
  padding-bottom: auto;
  height: 380px;
  overflow: scroll;
}
/* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control {
  color: #354052;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}
/* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: var(--light);
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #354052;
  background-color: var(--light);
}
.carousel-indicators{
	display: none;}
/* Textimonial CSS Code End */



/*Contact details========================contact details*/
#details{
	background-color: #0F1B4F;
	color: var(--light);
	border-radius: 8vw 8vw 0 0;
	}
#details1{
	padding: 4vw;}
#details1-1{
	overflow: hidden;}
#details{
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 3vh;
	text-align: center;
	}
#details1-2{
	padding: 3vw auto;}
#details1-3{
	width: 30vw;
	border-radius: 2rem;
	overflow: hidden;
	margin: 1vh auto; 
	}
#details1-3-1{
	width: 100%;
	}
#details2{
	display: flex;
	justify-content: space-around;
	}
.svg{
	width: 0.9rem}
.call{
	display: flex;
	justify-content: space-around;
	background: #61E751;
	padding: 0.3rem;
	width: 29%;
	height: 2rem;
	border-radius: 0.6rem;
	color: var(--grey);
	font-size: 1rem;
	}
#phonenum{
	padding: 1vh 5vw;
	}
#details3{
	margin: 3vh 3vw 0;
	color: var(--light);
	font-size:1.6rem;
	padding: 1rem;
	margin: 3vh 3vw 0;}
#details4{
	display: flex;
	justify-content: center;
	}
#details4{
	width: 3rem;
	}	
#email{
	color:  white;
	padding: 3rem auto;
	
	}
a:link{
	color: var(--light);
	text-decoration: none;
	}
.spacer{
	height: 5vh;
	width: 100vw;
	}
#kartik{
	background: #0F1B4F;
	text-align: center;
	color: var(--light);
	padding: 2vh;
	}

/*Here the media querry for laptop========================laptop*/
@media (min-width: 992px)
{
	body{
	
	} 

	#bp-page-1{
	display: flex;
	flex-direction: row;
	}
	#slide{
	width: 50vw;
	padding: 4vw;
	}
	#bp-page1-2{
	width: 50vw;
	}
	#name1-1{
	display: block;
	position: absolute;
	left: 4vw;
	z-index: 5;
	top: 0vw;
	padding: 0vh 4vw;
	font-family: 'Roboto';
	color: #33405C;
	font-weight: 900;
	font-size: 2rem;
	background-color: var(--light);
	border: solid 3px var(--blue);
	}
	#name1{
	display: none;
	}
#name2{
	color: #1F2331;
	position: absolute;
	top: 30vh;
	padding: 0 0 3vh 4vw;
	font-weight: 500;
	font-size: 3.2vw; 	
	}	

	#doctor-foto{
	position: absolute;
	width: 30%;
	top: 45vh;
	left: 70vw;
	}
	#doctor-foto1{
	width:100%;
	}
	#booking-botton{
	position: relative;	
	left: 5vw;
	top: 60vh;
	}
	#booking-botton1{
	background-color: var(--blue);
	color: white;
	padding: 1vw 3vw;
	font-weight: 500;
	font-size: 1.4vw;
	border-radius: 1.5rem;
	}

 
#speciality{
	font-size: 2.2vw !important;
	font-weight: 500;
	margin: 5vh 4vw 3vh;
	color: var(--blue);
	} 
#speciality-list{
	margin: 4vh auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 4vw;
	} 
.splist{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 2vw;
	font-weight: 450;
	color: var(--grey);
	}
.biamri{
	border-radius: 5vw;
	}
#otherdis{
	padding: 5vw;
	margin: 3vw 7vw;
	font-size: 2vw;
	font-weight: 450;
	color: var(--grey);
	text-align: center;
	}	
strong{
	color: var(--blue);}
#otherdis1{
	padding: 4vw;
	}	
#otherdis2{
	padding: 5vw;
	margin: 7vh 8vw;
	font-size: 1.9vw;
	font-weight: 500;
	color: var(--grey);
	text-align: center;
	}	
.otherdis2-1{
	margin-top: 4vh;
}	
	
#bp-page4{
	display: flex;
	flex-direction: row;
	}
#bp-page4-1{
	width: 50vw;
	}
#bp-page4-2{
	width: 50vw;
	}

#details1{
	padding: 4vw;}
#details1-1{
	display: inline-block;
	overflow: hidden;}
#details{
	font-size: 1.2vw;
	font-weight: 500;
	margin-top: 3vh;
	text-align: center;
	}
#details1-2{
	padding: 3vw auto;}
#details1-3{
	width: 15vw;
	border-radius: 2rem;
	overflow: hidden;
	margin: 1vh auto; 
	}
#details1-3-1{
	width: 100%;
	}
#details2{
	display: flex;
	justify-content: space-around;
	}
.svg{
	width: 0.9rem}
.call{
	display: flex;
	justify-content: space-around;
	background: #61E751;
	padding: 0.3rem;
	width: 29%;
	
	border-radius: 0.6rem;
	color: var(--grey);
	font-size: 1vw;
	}
#phonenum{
	padding: 1vh 5vw;
	}
#details3{
	margin: 3vh 3vw 0;
	color: var(--light);
	font-size:1.6rem;
	padding: 1rem;
	margin: 3vh 3vw 0;}
#details4{
	display: flex;
	justify-content: center;
	}
#details4{
	width: 3rem;
	}	
#email{
	color:  white;
	padding: 3rem auto;
	
	}
	
	#doctors{
	padding: 4vw;}
 
.basis-member.staff {
    padding: 4rem 2rem;
    font-family: 'Raleway', sans-serif;
}

.basis-member.staff .member-box {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.basis-member.staff .member-box .card-body {
    position: relative;
    height: 150px;
    padding: 1.3vw;
}
.basis-member.staff .member-box .shape {
    width: 200px;
    height: 200px;
    background: var(--primary);
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: -100px;
    transform: rotate(45deg);
}

.basis-member.staff .member-box .card-img-top {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom: 5px solid var(--primary);
}

.basis-member.staff .member-box .member-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.025em;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	}
	
#facility2{
	margin: 2vw 25vw 0;
	padding: 5vw auto;
	}
#facility2-1{
	padding: 3vh auto 0;
	background: var(--light);
	color: var(--dark);
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	}	
	
	
	
	
}

#navbar-div a:link{
	color: var(--blue);
	}


/* floating button --------------- floating  button*/
/*
*************************************************

---   SECTION   --->   TOP
   
*************************************************
*/

#top .sticky-btn {
  position: fixed;
  bottom: -60px;
  right: 60px;
  background: var(--blue);
  opacity: .6;
  border-radius: 10px;
  transition: all 0.8s ease;
}
#top .sticky-btn.revealed {
  bottom: 60px;
  opacity: 1;
}
#top a.sticky-btn {
  font-family: sans-serif;
  padding: 15px 20px;
  display: block;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
#top a.sticky-btn:hover {
  color: yellow;
}

@media screen and (max-width: 768px) {
  #top .sticky-btn {
    right: 20px;
  }  
  #top .sticky-btn.revealed {
    bottom: 20px;
  }
  #top a.sticky-btn {
    font-size: 12px;
    padding: 10px 15px;
  }  
}

/*
*************************************************

---   SECTION   --->   WHATSAPP-STICKY
   
*************************************************
*/


#contact-wa .sticky-btn {
  position: fixed;
  bottom: -96px;
  left: 33px;
  background: rgba(255, 255, 255, 0.81);
  padding: 12px;
  border-radius: 50%;
  transition: all 0.8s ease;
}
#contact-wa .sticky-btn:hover {
  background: rgba(255, 255, 255, 0.81);
  transform: translateY(-3px);
}
#contact-wa .sticky-btn img {
  width: 45px;
}

#contact-wa .sticky-btn.revealed {
  bottom: 60px;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #contact-wa .sticky-btn {
    left: 20px;
  } 
  #contact-wa .sticky-btn img {
    width: 36px;
  }
  #contact-wa .sticky-btn.revealed {
    bottom: 12px;
  } 
}

#bttn-call{
	width: 1rem;
	padding: 0 auto;
	}
	
/*Middle google review*/	
#middle .sticky-btn {
  position: fixed;
  bottom: -300px;
  right: 2px;
  background: var(--blue);
  opacity: .6;
  border-radius: 10px 0 0 10px;
  transition: all 0.8s ease;
}
#middle .sticky-btn.revealed {
  bottom: 30vh;
  opacity: 1;
}
#middle a.sticky-btn {
  font-family: sans-serif;
  padding: 10px 5px;
  display: block;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  opacity: 0.75
}
#middle a.sticky-btn:hover {
  color: yellow;
}

@media screen and (max-width: 768px) {
  #middle .sticky-btn {
    right: 2px;
  }  
  #middle .sticky-btn.revealed {
    bottom: 90px;
  }
  #middle a.sticky-btn {
    font-size: 10px;
    padding: 10px 6px;
  }  
}

